.card-weather {
    background: linear-gradient(145deg,
            rgb(255, 255, 255) 10%,
            rgb(144, 184, 207) 90%);
    border-radius: 10px;
    transition: all 0.7s ease-in-out;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #90b8cf ;
}

form {
    position: relative;
    border: 1px solid #90b8cf;
    border-radius: 10px;
    padding: 2px;
    height: 43px;
    width: 100%;
}



#search {
    width: 97%;
    border: none;
    height: 35px;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
}

#search:focus {
    background-color: transparent;
}

.loader {
    margin-top: 20px;
    justify-content: center;
}